<h1>Transactions for <%= user.username %></h1>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td><button class="btn btn-sm btn-primary">group by category</button></td>
      <td><button class="btn btn-sm btn-primary">sort by category</button></td>
      <td><button class="btn btn-sm btn-primary">sort by amount</button></td>
      <td><button class="btn btn-sm btn-primary">sort by description</button></td>
      <td><button class="btn btn-sm btn-primary">sort by date</button></td>
    </tr>
</tbody>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>description</th>
            <th>amount</th>
            <th>category</th>
            <th>date</th>
            <th>delete</th>
            <th>edit</th>

        </tr>
    </thead>
    <tbody>
        <% results.map(transaction => {%>
            <tr>
               <td> <%= transaction._id.description %> </td>
               <td><%= transaction._id.amount %></td>
               <td><%= transaction.category %></td>
               <td><%= transaction.date %></td>
               <td><a href="/todo/delete_transaction/<%=transaction._id %>">
                <i class="bi bi-trash"></i>
              </a></td>
              <td><a href="/todo/edit_transaction/<%=transaction._id %>">
                <i class="bi bi-pencil-square"></i>
              </a></td>
            </tr>
            <% }) %>
    </tbody>
</table>