<!-- Author: Eric Wang
This is the primary page for transaction.
Handles redirects and functions to pa04.
-->

<h1>Transactions for <%= user.username %></h1>
<table class="table table-bordered">
  <tbody>
    <tr>
      <td><button class="btn btn-sm btn-primary">group by category</button></td>
      <td><button class="btn btn-sm btn-primary">sort by category</button></td>
      <td><button class="btn btn-sm btn-primary">sort by amount</button></td>
      <td><button class="btn btn-sm btn-primary">sort by description</button></td>
      <td><button class="btn btn-sm btn-primary">sort by date</button></td>
    </tr>
</tbody>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>description</th>
            <th>amount</th>
            <th>category</th>
            <th>date</th>
            <th>delete</th>
            <th>edit</th>

        </tr>
    </thead>
    <tbody>
        <% results.map(transaction => {%>
            <tr>
               <td> <%= transaction.description %> </td>
               <td><%= transaction.amount %></td>
               <td><%= transaction.category %></td>
               <td><%= new Date(transaction.date).toLocaleString('en-US', 
                { weekday: 'short', year: 'numeric', month: 'short', day: 'numeric' }) %></td>
               <td><a href="/transaction/delete_transaction<%=transaction._id %>">
                <i class="bi bi-trash"></i>
              </a></td>
              <td><a href="/transaction/edit_transaction/<%=transaction._id %>">
                <i class="bi bi-pencil-square"></i>
              </a></td>
            </tr>
            <% }) %>
    </tbody>
  </table>

<h1>Add a New Transaction</h1>

<form method="POST" action="transaction">
  <input type="text" id="description" name="description" placeholder="description" required><br>
  <input type="text" id="category" name="category" placeholder="category" required><br>
  <input type="Number" id="amount" name="amount" placeholder="amount" required><br>
  <input type="date" id="date" name="date" placeholder="mm/dd/yyyy" required><br>
  <input type="submit" values="store">
</form>